<div id="newsitem">
  <p>
  <span>
      <% if current_user && news_item.users.include?(current_user) %>
        <div class="noowsedButton">
          Noows
      <% else %>
        <div class="noowsButton">
        <%= link_to 'Noows?', vote_up_news_item_url(news_item) %>
      <% end %>
    </div>
    <div id="iteminfo">
		<%= link_to news_item.title, news_item.link, :class => 'itemlink' %>
      <div class="underItemTitle">
        published at <%= news_item.published_at %> on <%= link_to news_item.source.name, news_item.source.homepage_url %>
      </div>
    </div>
  </span>
  </p>
  </br>
</div>

