<div class="newsitem">
  <p>
  <span>
	  <%=
		  content_tag 'div', user_has_item ? 'Noows' : 'Noows?',
		  { :id => news_item.id,
		    :class => user_has_item ? 'noowsedButton' : 'noowsButton',
		    :onclick => user_has_item ? '' : "vote(#{news_item.id}, #{current_user ? 'true' : 'false'})"
		  }
	  %>
    <div class="iteminfo">
		  <%= link_to news_item.title, news_item.link, :class => 'itemlink' %>
      <div class="underItemTitle">
        published at <%= news_item.published_at %> on <%= link_to news_item.source.name, news_item.source.homepage_url %>
      </div>
    </div>
  </span>
  </p>
  </br>
</div>

