<div class="itemList" style="margin-top: 25px; margin-left: 320px; margin-right: 320px;">
  <% if @items.empty? %>
    <h2>No News Items to Display *sad panda*</h2>
  <% else %>
    <% @items.each do |item| %>
      <%= render :partial => 'item', :locals => { :item => item } %>
    <% end %>
  <% end %>
</div>

