#header {
	margin: 25px 25px 25px 25px;
}.tagline {
	margin-left: 162px;
}
#header a {
	font-size: 72px;
	text-decoration: underline;
	color: black;
	text-decoration: none;
}

#menu {
	float: left;
	margin: 0px 10px 0px 200px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align: right;
}.current {
	text-decoration: underline;
}
#menu li {
	list-style-type: none;
}
#menu a {
	color: black;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}

#itemList {
	margin: 25px 320px 10px 360px;
}.pageList {
	text-align: right; padding-right: 150px;
}

#newsitem {

}.noowsButton {
	float: left;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:16px 16px;
	text-shadow:1px 1px 0px #689324;
}.noowsButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.noowsButton:active {
	position:relative;
	top:1px;
}.noowsButton a {
  text-decoration:none;
  color: white;
}.noowsedButton {
	float: left;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:16px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.noowsedButton:active {
	position:relative;
	top:1px;
}.noowsButton a {
text-decoration:none;
}

#iteminfo {
	margin:10px;
	padding-left: 95px;
}.itemlink {
	font-size: 20px;
}.underItemTitle {
	font-size: 10px
}

#flashes {
	margin-left: 495px;
}.alert {
	color: red;
}.notice {
	color: green;
}

#footer {
    padding-bottom: 5px;
    font-size: 10px
}

