<div id="flashes">
  <%= content_tag 'noscript', '*** Please enable javascript to use this site. Thank you. ***', :class => 'alert' %>
  <%= content_tag('p', flash[:notice], :class => 'notice') if flash[:notice] %>
	<%= content_tag('p', flash[:alert], :class => 'alert') if flash[:alert] %>
</div>

