<div class="header" style="margin: 25px 25px 0px 25px; padding-bottom: 25px;">
    <a href="/" style="font-size: 82px; text-decoration: underline; color: black; text-decoration: none;">The Noows</a>
    <img src="images/fb-login.png" style="float: right; vertical-align: bottom; padding: 0px 100px 0px 25px;" />
    <div class="taglineLinks" style="margin: 0px 50px 0px 208px;">
      Just the news, nothing else
      <a href ="/new">New</a>
      <a href ="/new">Top News</a>
      <a href ="/new">U.S. News</a>
      <a href ="/new">World News</a>
    </div>
  <div class="underTitle" style="margin: 0px 150px">
    <!-- <img src="images/fb-login.png" style="padding: 0px 25px 0px 50px;" /> -->
  </div>
</div>

