<head>
  <title>The Noows: Just the news, nothing else</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'prototype' %>
  <%= csrf_meta_tag %>
</head>

