<div id="menu">
	<div style="padding-right: 10px">
		<ul>
			<li>
				<%= link_to_unless_current 'Home', homepage_path do |output|
						content_tag 'span', output, :class => 'current'
					end
				%>
			</li>
			<li>
				<%= link_to_unless_current 'New Items', new_path  do |output|
						content_tag 'span', output, :class => 'current'
					end
				%>
			</li>
		</ul>
		<ul>
			<!-- Categories will go here when there is more than 1 -->
		</ul>
                <ul>
                </ul>
		<ul>
                  <li>
                    <%= link_to 'Noows Blog', 'http://blog.thenoows.com' %>
                  </li>
			<li>
				<%= link_to_unless(current_user, image_tag("fb-login.png", :alt => 'Login with Facebook', :border => 0), new_oauth_path) do
						link_to('Logout', logout_path)
					end
				%>
			</li>
		</ul>
	</div>
</div>

